<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Tiny_app Creator</title>
  <meta name="description" content="MinimalCSS is a simple HTML / CSS template that is incredibly easy to customize. It can be downloaded and used with no limitations or obligations.">
  <link href="../minimal.css" rel="stylesheet">
</head>

<body class="body">
  <div class="container">
    <header class="header">
      <% include ./partials/_header %>
    </header>
    <p>
      <form action="/urls" method="POST" >
        <label class="body" for="longURL">Enter a URL:</label>
        <input class="body" type="text" name="longURL" placeholder="http://" style="width: 600px; height: 25px">
        <input class="myButton" type="submit" value="Submit">
      </form>
    </p>
  <% for (url in urls) { %>
    <table class="table">
      <tbody>
        <tr>
          <td style="width: 300px">
            <a href="http://localhost:8080/u/<%= urls[url].shortURL %>"><%= urls[url].shortURL %></a>
          </td>
          <td style="width: 300px">
            <a href="<%= urls[url].longURL %>"><%= urls[url].longURL %></a>
          </td>
          <td style="width: 50px">
            <a href='/urls/<%= urls[url].shortURL %>'><button class="myButton" type="submit">Edit</button></a>
          </td>
          <td style="width: 50px">
            <form method='POST' action='/urls/<%= urls[url].shortURL %>?_method=DELETE' ><button class="myButton" onclick="return confirm('Are you sure?')" type="submit" >Delete</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
      <% }; %>
  </div>
</body>
</html>